# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Itlogia\4 блок. Библиотеки и плагины\Сетка Bootstrap и основные компоненты. Урок 33\Домашняя работа\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
